@external v-loading-indicator, about, details, birdtab, maptab, observationstab, settingstab, add, close, v-caption, v-button-caption, v-button-wrap, v-touchkit-tabbar-toolbar, v-button, speciesselector, selected, v-layout, v-captiontext;

@def darkText #3d3f41;

@sprite .about {
	gwt-image: "aboutBackground";
	background-color: white;
	width:100%;
	height:auto;
}

@url vIcons vIcons;
@url vIconsTtf vIconsTtf;
@font-face {
	font-family: "vIcons";
	src: vIcons  format('woff'), vIconsTtf  format('truetype');
	font-weight: normal;
	font-style: normal;
}

.v-loading-indicator {
    height: 1px !important;
}

.details {
	margin: 10px 10px;
}

.details>.v-caption>.v-captiontext {
	margin:0;
	margin-top:10px;
}
.details .v-layout > .v-button {
	margin:0;
}

/*
 * Main Tab sheets icons via css
 */
 
.birdtab:before {
	content: "\21";
}
.maptab:before {
	content: "\e008";
}
.observationstab:before {
	content: "\e00a";
}
.settingstab:before {
	content: '\e009';
}

/* Sizing etc for tab icons */
.v-touchkit-tabbar-toolbar .v-button:before {
	font-family:"vIcons";
	font-size:25px;
	line-height:1;
	display:block;
	position:absolute;
	text-align:center;
	left:0;
	right:0;
	top: 6px;
}

.speciesselector > div > * {
	display: block;
	width: auto !important;
	float: none;
	line-height: 30px;
	color:#3797bd;
}
.speciesselector > div > *:first-child {
	float: right;
	line-height: 22px;
}

/*
 * Character icon. Caption is E.g. "+" or some unicode character that is used as an icon.
 */
.add .v-button-caption:before {
	content: "+";
	font-size: 30px;
	line-height:22px;
}
.add>span {
	font-size:0;
}
.close .v-button-caption:before {
	content: "\2716";
	font-size: 20px;
	line-height:26px;
}
.close>span {
	font-size:0;
}